header.header
  nav.nav.nav--tours
    a.nav__el(href=`/`) All Tours
  //- no need to write like div.className  below when we have to declare a div
  .header__logo 
    img(src="/img/logo-white.png", alt="logo")
  nav.nav.nav__user
    //- a.nav__el(href="#") My Bookings
    //- a.nav__el(href="#")
    //-   img.nav__user-img(src="img/users/default.jpg" alt="user__image")
    //-   span Anurag
    button.nav__el Log In
    button.nav__el.nav__el--cta Sign Up